<div class="modal fade" id="modal-danger" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
    <h4 class="modal-title">Hata !</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">×</span>
    </button>
    </div>
    <div class="modal-body">
        <!--Dinamik İçerik-->
    </div>
    <div class="modal-footer justify-content-between">
    <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
    </div>
  </div>