<div class="modal fade" id="modal-overlay"  role="dialog">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
    <div class="overlay">
    <i class="fas fa-2x fa-sync fa-spin"></i>
    </div>
    <!-- <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">×</span>
    </button>
    </div> -->
    <div class="modal-body">
    <!--Dinamik oluşturalacak-->
    </div>
    <div class="modal-footer justify-content-between">
    <button type="submit" class="btn btn-primary" id="submit-modal">Kaydet</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
    </div>
    </div>
    </div>
</div>