<div class="modal fade" id="modal-overlay" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
    <!-- <div class="overlay">
    <i class="fas fa-2x fa-sync fa-spin"></i>
    </div> -->
    <div class="modal-header">
    <h4 class="modal-title"></h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">×</span>
    </button>
    </div>
    <div class="modal-body">
    <!--Dinamik oluşturalacak-->
    </div>
    <div class="modal-footer justify-content-between">
    <button type="button" class="btn btn-outline-light" data-dismiss="modal">Kapat</button>
    </div>
    </div>
    </div>
</div>
<script type="text/javascript">
	$(document).ready(function () {
		window.ShowModal = function (title, content, hideEvent) {
			if (content === undefined || content === null) { content = ''; }
			if (content.constructor === Array) {
				content = "<ul><li>" + content.join("</li><li>") + "</li></ul>";
			}
			var modal = $('#modal-overlay');
			modal.find('.modal-title').html(title);
			modal.find('.modal-body').html(content);
			modal.modal('show');
			modal.off('hide.bs.modal');
			if (hideEvent !== undefined) {
				modal.on('hide.bs.modal', hideEvent);
			}
		}
	});
</script>