@{
ViewBag.Title = "Kategori Listesi";
}

@section Styles{
<link rel="stylesheet" href="~/adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/adminlte/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
<link rel="stylesheet" href="~/adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="~/adminlte/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
<link rel="stylesheet" href="~/fine-uploader/fine-uploader-new.min.css">
</link>
}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">@ViewBag.Title</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">@ViewBag.Title</a></li>
          <li class="breadcrumb-item active">Index</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="dataTables_wrapper dt-bootstrap4">
          <div class="row"></div>
          <div class="row">
            <div class="col-sm-12">
              <table id="data-table-category" class="table table-bordered table-striped dataTable dtr-inline"
                style="width:100%;">
                <!-- <a asp-action="Create" asp-controller="Product" class="btn btn-default bg-success">
                    <i class="fas fa-plus"></i> Yeni Ürün Ekle
                    </a> -->
                <thead>
                  <tr>
                    <th style="width: 100px;">#</th>
                    <th>Kategori Adı</th>
                    <th>Açıklama</th>
                    <th>Kategori Resmi</th>
                  </tr>
                </thead>
                <tbody>
                  <!--DataTable ServerSide-->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal-category" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="overlay">
        <i class="fas fa-2x fa-sync fa-spin"></i>
      </div>
      <div class="modal-header">
        <h4 class="modal-title"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <!--Dinamik oluşturalacak-->
      </div>
    </div>
  </div>
</div>
@section Scripts{
<script src="~/adminlte/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="~/adminlte/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/adminlte/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="~/adminlte/plugins/jszip/jszip.min.js"></script>
<script src="~/adminlte/plugins/pdfmake/vfs_fonts.js"></script>
<script src="~/adminlte/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="~/adminlte/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="~/adminlte/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<script src="~/adminlte/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
<script src="~/fine-uploader/fine-uploader.min.js"></script>
@await Html.PartialAsync("~/Views/Shared/FineUploaderTemplates/FineUploaderDefaultTemplate.cshtml")
<script type="text/javascript">
  $(document).ready(function () {
    var modal = $('#modal-category');
    modal.on("hidden.bs.modal", function (e) {
      //Modal-product nesnesi mi kapatıldı kontrol ediyoruz
      if ($(e.target).is(modal)) {
        $('#submit-button').prop('disabled', false);
        $('#modal-product .modal-body').html('');
        $('#modal-product .modal-title').html('');
      }
      e.preventDefault();
    });

    var table = $('#data-table-category').DataTable({
      destroy: true,
      serverSide: true,
      processing: true,
      language: {
        processing: '<i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>'
      },

      ajax:
      {
        url: '@Url.Action("PageData")',
        type: 'POST'
      },
      pageLength: 10,
      lengthMenu: [[10, 30, 50, 100, -1], [10, 30, 50, 100, "Tümü"]],
      order: [[0, 'desc']],
      searchDelay: 350,
      responsive: true,
      dom: "<'row'<'col-sm-6'l><'col-sm-6'f>>" +
        "<'row'<'col-sm-12'B>>" +
        "<'row'<'col-sm-12'tr>>" +
        "<'row'<'col-sm-5'i><'col-sm-7'p>>",
      buttons: [
        {
          text: '<i class="fas fa-plus" title="Ekle"></i>&nbsp; Yeni Kategori Ekle',
          attr: {
            id: 'create-button',
            class: 'btn btn-success'
          }
        },
        {
          extend: 'excel',
          text: '<i class="fa fa-file-excel" title="Excel"></i>&nbsp;Excel',
          exportOptions: {
            columns: ':visible'
          }
        },

        {
          extend: 'copyHtml5',
          text: '<i class="fa fa-copy" title="Kopyala"></i>&nbsp;Kopyala',
          exportOptions: {
            columns: ':visible'
          }
        },
        {
          extend: 'colvis',
          text: '<i class="fa fa-columns" title="Görünür Kolonlar"></i>&nbsp;Sütun Seçici',
        }
      ],
      columns: [
        {
          data: "category_id", name: "category_id", sortable: true, orderable: true, searchable: false, render: function (data) {
            var content = '';
            content += '<a class="btn btn-primary btn-sm btn-flat" id="edit-button" title="Düzenle" data-target="/Category/Edit/' + data + '"><i class="fa fa-edit"></i></a>';
            content += '<a class="btn btn-danger btn-sm btn-flat" id="delete-button" title="Sil" data-href="/Category/Delete/' + data + '"><i class="fa fa-trash"></i></a>';
            content += '<a class="btn btn-warning btn-sm btn-flat" id="detail-button" title="Görüntüle" data-target="/Product/Detail/' + data + '"><i class="fa fa-eye"></i></a>';
            return content;
          }
        },
        { data: "category_name", name: "category_name", sortable: false, searchable: true },
        { data: "description", name: "description", sortable: false, searchable: false },
        {
          data: "picture", name: "picture", sortable: false, searchable: false, render: function (data) {
            if (data != null) {
              return '<img style="max-width:200px" class="img-fluid img-thumbnail" src="' + data + '">';
            }
            else
              return '<img style="max-width:200px" class="img-fluid img-thumbnail" src="../CoreTestFramework.Northwind.WebMvcUI/wwwroot/adminlte/dist/img/default-150x150.png">';

          }
        },
      ],
      // "initComplete": function (settings, json) {
      //   var input = $('.dataTables_filter input').unbind(),
      //     self = this.api(),
      //     $searchButton = $('<button>').html('<i class="fa fa-search"></i>').addClass('btn btn-default btn-sm btn-flat').click(function () {
      //       self.search(input.val()).draw();
      //     }),
      //     $clearButton = $('<button>').html('<i class="fa fa-times"></i>').addClass('btn btn-default btn-sm btn-flat').click(function () {
      //       input.val('');
      //       $searchButton.click();
      //     });


      //   $(".dataTables_filter input")
      //     .unbind()
      //     .bind("input keyup", function (e) {
      //       if (e.keyCode == 13) {
      //         self.search(this.value).draw();
      //       }
      //       return;
      //     });
      // },
    });

    $("#create-button").attr("data-target", "Category/Create");

    $("#create-button").on("click", function (e) {
      $(".overlay").fadeIn();
      var that = $(this);
      $.ajax({
        type: "GET",
        url: that.data("target")
      }).done(function (data) {
        modal.find(".modal-body").html(data);
        modal.find(".modal-title").html("Kategori Ekle");
        modal.modal('show');
      }).fail(function (jqXHR, textStatus) {
        ShowModal("Hata!", "Form yüklenemedi");
        console.log("Request failed: " + textStatus);
      }).always(function () {
        $(".overlay").fadeOut();
      })
      e.preventDefault();
    });

    $('#data-table-category tbody').on('click', 'td #edit-button', function (e) {
      var that = $(this);
      $(".overlay").fadeIn();
      $.ajax({
        type: 'GET',
        url: that.data('target')
      }).done(function (data) {
        modal.find('.modal-body').html(data);
        modal.find('.modal-title').html("Kategori Düzenle");
        modal.modal('show');
      }).fail(function (jqXHR, textStatus) {
        ShowModal("Hata!", "Form yüklenemedi");
        console.log("Request failed: " + textStatus);
      }).always(function () {
        $(".overlay").fadeOut();
      })
      e.preventDefault();
    });

    $('#data-table-category tbody').on('click', 'td #delete-button', function (e) {
      var that = $(this);
      if (confirm('Seçili kategoriyi silmek istediğinize emin misiniz ?') == true) {
        $('#overlay-process').fadeIn();
                var that = $(this);
                $.ajax({
                type: 'POST',
                url: that.data('href'),
            }).done(function (result) {
                if (result.Success == true) {
                      $("#modal-overlay .modal-content").addClass("bg-success");
                      ShowModal('Başarılı', result.Message, function (e) {
                      $("#data-table-category").DataTable().ajax.reload(null,false);
                      $("#modal-overlay .modal-content").removeClass("bg-success");
                    });
                } else {
                  $("#modal-overlay .modal-content").addClass("bg-danger");
                  ShowModal('Hata', result.Message, function(e){
                    $("#modal-overlay .modal-content").removeClass("bg-danger");
                  });
                }
            }).fail(function (jqXHR, textStatus) {
                ShowModal('Hata', 'Hata oluştu.');
                console.log("Request failed: " + textStatus);
            }).always(function () {
                $('#overlay-process').fadeOut();
            });
            e.preventDefault();
      }
    });
  })
</script>
}